:root,
body,
#root {
	min-height: 100%;
}

body {
	margin: 0;
}

.app {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fce4ec;
	text-align: center;
}

.app h2,
.app h3 {
	margin: 0;
}

.app h3 {
	margin-top: 0.75rem;
}
